@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  /* animation: slide 3s ease-in-out infinite alternate; */
  /* background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%); */
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  /* font-family: monospace; */
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

body {
  height: 900px;
}
header {
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}

h1 {
  font-size: 60px;
  margin-bottom: 30px;
}
.text-gradient {
  font-weight: 700;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 19%, #c800cf 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3,
p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.share:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.customBadge {
  z-index: 1;
  background-color: green;
  padding: 10px 20px;
}

.positioned {
  position: absolute;
  top: 32%;
  right: 5%;
}

.bg-success {
  background-color: green;
}
.bg-danger {
  background-color: #ff2929;
}

.bg-glass {
  background: rgba(244, 244, 244, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.flex-row {
  flex-direction: column;
}

.numorph {
  border-radius: 27px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 41px 41px 81px #bcbcbc, -41px -41px 81px #ffffff;
}

.upload-btn {
  width: 8.125rem;
  height: 2.5rem;
  color: #fff;
  border-radius: 5px;
  padding: 0.625em 1.5em;
  font-family: inherit;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 3000ms ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}

.btn-3 {
  background-color: rgb(0, 172, 238);
  background-image: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  width: 8.125rem;
  height: 2.5rem;
  line-height: 2.625rem;
  padding: 0;
  border: none;
}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  background-color: rgba(2, 126, 251, 1);
  transition: all 300ms ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}
